In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [3]:
# Load the data
walk_data = pd.read_csv('data/walk_data.csv')
run_data = pd.read_csv('data/run_data.csv')
stairs_data = pd.read_csv('data/stairs_data.csv')
relaxed_data = pd.read_csv('data/relaxed_data.csv')

In [4]:
#drop empty columns from each dataset
walk_data = walk_data.dropna(axis=1, how='all')
run_data = run_data.dropna(axis=1, how='all')
stairs_data = stairs_data.dropna(axis=1, how='all')
relaxed_data = relaxed_data.dropna(axis=1, how='all')

walk_data.head()

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Time (s).1,Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Time (s).2,Illuminance (lx),Time (s).3,Latitude (°),Longitude (°),Height (m),Velocity (m/s),Direction (°),Horizontal Accuracy (m),Vertical Accuracy (m),activity
0,0.007874,-3.141193,2.638410,8.540117,0.007946,-0.043371,0.065973,0.091019,0.088659,48.0,1.270094,52.308502,4.952421,0.684419,NaN,NaN,14.181,1.000000,walking
1,0.018434,-3.337517,2.734178,8.322245,0.018522,-0.043371,0.065973,0.091019,0.208655,47.0,21.465094,52.308478,4.952481,0.684419,NaN,NaN,11.468,1.000000,walking
2,0.028443,-3.445256,2.743755,8.243237,0.028516,-0.043371,0.065973,0.091019,0.328662,46.0,41.457094,52.308431,4.952388,1.084301,NaN,NaN,14.057,1.000000,walking
3,0.038453,-3.545813,2.695871,8.339005,0.038541,-0.043371,0.065973,0.091019,0.408669,45.0,61.414094,52.308209,4.951964,0.883743,NaN,NaN,11.495,1.000000,walking
4,0.048433,-3.591303,2.657564,8.640674,0.048505,-1.258382,0.047647,0.166155,0.568716,44.0,69.326094,52.308360,4.952170,21.884073,0.0,0.0,9.700,170.199997,walking

In [5]:
run_data.head()

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Time (s).1,Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Time (s).2,Illuminance (lx),activity
0,0.015796,-6.177041,8.700529,6.244078,0.015868,0.302989,0.098960,-0.22602,0.086584,60.0,running
1,0.026356,-5.691018,8.398860,6.612785,0.026445,0.302989,0.098960,-0.22602,0.126607,58.0,running
2,0.036365,-4.991910,8.061277,6.897695,0.036438,0.302989,0.098960,-0.22602,0.166616,54.0,running
3,0.046375,-4.036624,7.675811,7.223307,0.046465,0.302989,0.098960,-0.22602,0.206589,51.0,running
4,0.056355,-3.189077,7.307104,7.438785,0.056427,-0.804510,-1.166753,0.02138,0.246596,47.0,running

In [6]:
relaxed_data.head()

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Time (s).1,Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Time (s).2,Illuminance (lx),activity
0,0.022713,1.304840,2.588132,9.622296,0.022784,0.003054,-0.001222,-0.001222,0.133635,8.0,relaxed
1,0.033273,1.242591,2.652776,9.782708,0.033360,0.003054,-0.001222,-0.001222,0.253608,7.0,relaxed
2,0.043283,1.316811,2.700660,9.696517,0.043354,0.003054,-0.001222,-0.001222,0.453653,8.0,relaxed
3,0.053293,1.393425,2.667141,9.569624,0.053380,0.003054,-0.001222,-0.001222,0.853731,7.0,relaxed
4,0.063272,1.352724,2.552219,9.414001,0.063343,0.029932,-0.018326,-0.015882,1.173685,8.0,relaxed

In [7]:
stairs_data.head()

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Time (s).1,Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Time (s).2,Illuminance (lx),activity
0,0.022326,-4.786009,4.469975,7.426814,0.022398,0.007330,-0.358578,-0.139888,0.093179,50.0,stairs
1,0.032885,-4.869806,4.556166,7.682993,0.032973,0.007330,-0.358578,-0.139888,0.133223,51.0,stairs
2,0.042895,-4.958392,4.673482,8.034941,0.042967,0.007330,-0.358578,-0.139888,0.173228,53.0,stairs
3,0.052905,-4.860229,4.695030,8.281544,0.052993,0.007330,-0.358578,-0.139888,0.214106,57.0,stairs
4,0.062884,-4.759673,4.654328,8.164227,0.062956,-0.288939,-0.846048,0.317650,0.253241,61.0,stairs

In [13]:
# convert the timestamp to datetime
walk_data['Time (s)'] = pd.to_datetime(walk_data['Time (s)'], format='%Y-%m-%d %H:%M:%S')
# run_data['Time (s)'] = pd.to_datetime(run_data['Time (s)'], unit='s')
# stairs_data['Time (s)'] = pd.to_datetime(stairs_data['Time (s)'], unit='s')
# relaxed_data['Time (s)'] = pd.to_datetime(relaxed_data['Time (s)'], unit='s')

# create a new column for the date
walk_data['date'] = walk_data['Time (s)'].dt.date
# and another for the time
walk_data['time'] = walk_data['Time (s)'].dt.time

walk_data.head()

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Time (s).1,Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Time (s).2,Illuminance (lx),...,Latitude (°),Longitude (°),Height (m),Velocity (m/s),Direction (°),Horizontal Accuracy (m),Vertical Accuracy (m),activity,date,time
0,1970-01-01 01:00:00.007873850+01:00,-3.141193,2.638410,8.540117,0.007946,-0.043371,0.065973,0.091019,0.088659,48.0,...,52.308502,4.952421,0.684419,NaN,NaN,14.181,1.000000,walking,1970-01-01,01:00:00.007873
1,1970-01-01 01:00:00.018433774+01:00,-3.337517,2.734178,8.322245,0.018522,-0.043371,0.065973,0.091019,0.208655,47.0,...,52.308478,4.952481,0.684419,NaN,NaN,11.468,1.000000,walking,1970-01-01,01:00:00.018433
2,1970-01-01 01:00:00.028443389+01:00,-3.445256,2.743755,8.243237,0.028516,-0.043371,0.065973,0.091019,0.328662,46.0,...,52.308431,4.952388,1.084301,NaN,NaN,14.057,1.000000,walking,1970-01-01,01:00:00.028443
3,1970-01-01 01:00:00.038453235+01:00,-3.545813,2.695871,8.339005,0.038541,-0.043371,0.065973,0.091019,0.408669,45.0,...,52.308209,4.951964,0.883743,NaN,NaN,11.495,1.000000,walking,1970-01-01,01:00:00.038453
4,1970-01-01 01:00:00.048432543+01:00,-3.591303,2.657564,8.640674,0.048505,-1.258382,0.047647,0.166155,0.568716,44.0,...,52.308360,4.952170,21.884073,0.0,0.0,9.700,170.199997,walking,1970-01-01,01:00:00.048432

In [11]:
#convert to the current time zone in Netherlands
walk_data['Time (s)'] = walk_data['Time (s)'].dt.tz_localize('UTC').dt.tz_convert('Europe/Amsterdam')
run_data['Time (s)'] = run_data['Time (s)'].dt.tz_localize('UTC').dt.tz_convert('Europe/Amsterdam')
stairs_data['Time (s)'] = stairs_data['Time (s)'].dt.tz_localize('UTC').dt.tz_convert('Europe/Amsterdam')
relaxed_data['Time (s)'] = relaxed_data['Time (s)'].dt.tz_localize('UTC').dt.tz_convert('Europe/Amsterdam')

walk_data.head()

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Time (s).1,Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Time (s).2,Illuminance (lx),...,Latitude (°),Longitude (°),Height (m),Velocity (m/s),Direction (°),Horizontal Accuracy (m),Vertical Accuracy (m),activity,date,time
0,1970-01-01 01:00:00.007873850+01:00,-3.141193,2.638410,8.540117,0.007946,-0.043371,0.065973,0.091019,0.088659,48.0,...,52.308502,4.952421,0.684419,NaN,NaN,14.181,1.000000,walking,1970-01-01,00:00:00.007873
1,1970-01-01 01:00:00.018433774+01:00,-3.337517,2.734178,8.322245,0.018522,-0.043371,0.065973,0.091019,0.208655,47.0,...,52.308478,4.952481,0.684419,NaN,NaN,11.468,1.000000,walking,1970-01-01,00:00:00.018433
2,1970-01-01 01:00:00.028443389+01:00,-3.445256,2.743755,8.243237,0.028516,-0.043371,0.065973,0.091019,0.328662,46.0,...,52.308431,4.952388,1.084301,NaN,NaN,14.057,1.000000,walking,1970-01-01,00:00:00.028443
3,1970-01-01 01:00:00.038453235+01:00,-3.545813,2.695871,8.339005,0.038541,-0.043371,0.065973,0.091019,0.408669,45.0,...,52.308209,4.951964,0.883743,NaN,NaN,11.495,1.000000,walking,1970-01-01,00:00:00.038453
4,1970-01-01 01:00:00.048432543+01:00,-3.591303,2.657564,8.640674,0.048505,-1.258382,0.047647,0.166155,0.568716,44.0,...,52.308360,4.952170,21.884073,0.0,0.0,9.700,170.199997,walking,1970-01-01,00:00:00.048432